
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("./assets/ringue\ jokenpo3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

.container {
    padding: 20px;
    background-color: rgba(161, 161, 161, 0.423);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin: 30px 0;
    display: flex;
    gap: 40px;
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: #a200ff;
}

#paper {
    background-color: #116d11;
}

#scissors {
    background-color: #f86d03;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

.your-score span {
    color: rgb(3, 20, 165);
}

.machine-score span {
    color: rgb(253, 1, 1);
}

/* Responsividade */
@media (max-width: 1024px) {
    .buttons {
        gap: 30px;
    }

    button {
        font-size: 40px;
        padding: 8px;
    }
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .container {
        width: 90%;
        padding: 15px;
    }

    .buttons {
        flex-direction: column;
        gap: 20px;
    }

    button {
        font-size: 35px;
        padding: 7px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .buttons {
        flex-direction: column;
        gap: 15px;
    }

    button {
        font-size: 30px;
        padding: 6px;
    }
}
